.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.body{
  padding-bottom:0;
  margin-bottom:0;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
#testimonial{
  background-color: rgb(241, 241, 241);
}
.flex-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.heading{
  padding-top:100px;
  margin-bottom:20px;
  padding-left:50px;
  padding-right:50px;
}
.dog-image>img{
  height:100px;
  width:100px;
  border-radius:50%;
}
.dog-image{
  margin-top:20px;
  margin-bottom:20px;
}
.pebbles{
  font-weight:lighter;
  font-size:1.5rem;
}
.flex-container>.container{
  margin-top:50px;
  padding-bottom:50px;
}
.flex-container>.container>div.row>div>img{
  width:50%;
  padding-top:20px;
}
#footer{
  margin-bottom:0;
  padding-bottom:0;
}
footer.row{
  margin-bottom:0;
  padding-bottom:0;
}
.py-5{
  padding-bottom:0 !important;
}